<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Zadanie_na_Avtomat_KollegEntities"
			 connectionString="data source=DESKTOP-E6N8VGF\SQLEXPRESS;initial catalog=Zadanie_na_Avtomat_Kolleg;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>